html, body {
    margin: 0;
    padding: 0;
}

.axis>* {
    font-size: 12px;
    fill: none;
    shape-rendering: crispEdges;
}

.bar {
    color: grey;
    fill: grey;
}

path {
    fill: none;
    stroke-opacity: 1.0;
    stroke-width: 2px;
}

path.population {
    stroke: green;
}

path.birth {
    stroke: blue;
}

path.death {
    stroke: red;
}

